<section class="tab healer {{tabs.healer.cssClass}}" data-tab="{{tabs.healer.id}}" data-group="{{tabs.healer.group}}">
    <input type="hidden" id="system.details.sheetClass" name="system.details.sheetClass" value="Healer" data-dtype="String"/>
    <input type="hidden" id="system.details.critRange" name="system.details.critRange" value="20" data-dtype="Number"/>
    <input type="hidden" id="system.class.spellCheckAbility" name="system.class.spellCheckAbility" value="per">
    
    <div class="grid-container">
        <div class="grid-col-span-12 dark-border">
            <div class="box-title">{{localize "Healer.HealerAbilities"}}</div>
            <div class="grid-tpl-two grid-row-gap-8 p-5">
                <div class="grid-tpl-max-25" data-skill="naturopathy">
                    <label class="skill-check rollable" for="system.skills.naturopathy.value"
                           data-action="rollSkillCheck" data-drag="true" data-drag-action="skill">
                        {{localize "Healer.Naturopathy"}}
                    </label>
                    <input type="text" id="system.skills.naturopathy.value" name="system.skills.naturopathy.value"
                           value="{{system.skills.naturopathy.value}}" data-dtype="String"/>
                </div>
                <div class="grid-tpl-max-25" data-skill="aiRecognition">
                    <label class="skill-check rollable" for="system.skills.aiRecognition.value"
                           data-action="rollSkillCheck" data-drag="true" data-drag-action="skill">
                        {{localize "MCC.AIRecognition"}}
                    </label>
                    <input type="text" id="system.skills.aiRecognition.value"
                           name="system.skills.aiRecognition.value" value="{{system.skills.aiRecognition.value}}"
                           data-dtype="String"/>
                </div>
                <div class="grid-tpl-max-25" data-skill="maxTechLevel">
                    <label for="system.skills.maxTechLevel.value">
                        {{localize "MCC.MaxTechLevel"}}
                    </label>
                    <input type="text" id="system.skills.maxTechLevel.value" name="system.skills.maxTechLevel.value"
                           value="{{system.skills.maxTechLevel.value}}" data-dtype="String"/>
                </div>

                <div class="grid-tpl-max-25" data-skill="artifactCheck">
                    <label class="skill-check rollable" for="system.skills.artifactCheck.value"
                           data-action="rollSkillCheck" data-drag="true" data-drag-action="skill">
                        {{localize "MCC.ArtifactCheck"}}</label>
                    <input type="text" id="system.skills.artifactCheck.value"
                           name="system.skills.artifactCheck.value" value="{{system.skills.artifactCheck.value}}"
                           data-dtype="String"/>
                </div>
                <div class="grid-tpl-max-auto grid-col-span-2">
                    <label style="align-items: center;" for="system.class.archaicAlignment.value">
                        {{localize "MCC.ArchaicAlignment"}}
                    </label>
                    <input type="text" id="system.class.archaicAlignment.value"
                           name="system.class.archaicAlignment.value" value="{{system.class.archaicAlignment.value}}"
                           data-dtype="String"/>
                </div>
            </div>

            <ul class="data-font">
                <li>
                    {{localize "MCC.Artifacts"}}
                    <ul>
                        <li>{{localize "Healer.ArtifactsDesc"}}</li>
                        <li>{{localize "Healer.ArtifactMedical"}}</li>
                    </ul>
                </li>
                <li>
                    {{localize "MCC.Luck"}}
                    <ul>
                        <li>{{localize "Healer.DarwinianLuck"}}</li>
                    </ul>
                </li>
                <li>
                    {{localize "MCC.AI"}}
                    <ul>
                        <li>{{localize "human.AIRecognition"}}</li>
                    </ul>
                <li>
                    {{localize "Healer.Naturopathy"}}
                    <ul>
                        <li>{{localize "Healer.NaturopathyDesc"}}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>