<form class="{{cssClass}}" autocomplete="off">
 
    {{!-- Hidden inputs to reflect the sheet class and force standard crit range --}}
    <input type="hidden" id="data.details.sheetClass" name="data.details.sheetClass" value="Shaman" data-dtype="String"/>
    <input type="hidden" id="data.details.critRange" name="data.details.critRange" value="20" data-dtype="Number"/>

    {{!-- Sheet Header --}}
    {{> modules/mcc-classes/templates/actor-partial-pc-mcc-header.html }}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="character">{{localize "DCC.Character"}}</a>
        <a class="item" data-tab="equipment">{{localize "DCC.Equipment"}}</a>
        <a class="item" data-tab="class">{{localize "mcc.Shaman"}}</a>
        <a class="item" data-tab="spells">{{localize "shaman.programs"}}</a>
        {{#if data.config.showSkills}}
        <a class="item" data-tab="skills">{{localize "DCC.Skills"}}</a>
        {{/if}}
        <a class="item" data-tab="notes">{{localize "DCC.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Character Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-common.html }}

        {{!-- Equipment Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-equipment.html }}

        {{!-- Spells Tab --}}
        {{> modules/mcc-classes/templates/actor-partial-shaman-programs.html }}

        {{!-- Skills Tab --}}
        {{> systems/dcc/templates/actor-partial-skills.html }}

        {{!-- Notes Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-notes.html }}

        {{!-- Class Tab --}}
        <div class="tab" data-group="primary" data-tab="class">
            <h4 class="class-label">{{localize "shaman.shamanAbilities"}}</h4>
            <div class="class">
                <div class="skills-container">
                    <div class="flexrow" data-skill="aiRecognition">
                      <label class="skill-check rollable" for="data.skills.aiRecognition.value">{{localize "mcc.aiRecognition"}}</label>
                      <input type="text" id="data.skills.aiRecognition.value" name="data.skills.aiRecognition.value" value="{{data.skills.aiRecognition.value}}" data-dtype="String"/>
                    </div>
		<div class="flexrow" data-skill="Max Tech Level">
                      <label class="flex1" for="data.skills.maxTechLevel.value">{{localize "mcc.maxTechLevel"}}</label>
                      <input type="text" id="data.skills.maxTechLevel.value" name="data.skills.maxTechLevel.value" value="{{data.skills.maxTechLevel.value}}" data-dtype="String"/>
                    </div>

					<div class="flexrow" data-skill="artifactCheck">
                      <label class="skill-check rollable" for="data.skills.artifactCheck.value">{{localize "mcc.artifactCheck"}}</label>
                      <input type="text" id="data.skills.artifactCheck.value" name="data.skills.artifactCheck.value" value="{{data.skills.artifactCheck.value}}" data-dtype="String"/>
                    </div>
					<input type="hidden" id="data.class.spellCheckAbility" name="data.class.spellCheckAbility" value="int">
                    <div class="wide flexrow" data-ability="int">
                        <label class="spell-check rollable" for="data.class.spellCheck">{{localize "mcc.programCheck"}}</label>
                        <input type="text" id="data.class.spellCheck" name="data.class.spellCheck" value="{{numberFormat data.class.spellCheck decimals=0 sign=true}}" data-dtype="String"/>
                    </div>
                </div>
				<div class="deity flexrow">
                    <label class="flex1" for="data.class.archaicAlignment">{{localize "mcc.archaicAlignment"}}</label>
                   <input class="flex2" type="text" id="data.class.archaicAlignment.value" name="data.class.archaicAlignment.value" value="{{data.class.archaicAlignment.value}}" data-dtype="String"/>
                </div>
				 <div class="deity flexrow">
                    <label class="flex1" for="data.class.aiPatron">{{localize "shaman.aiPatron"}}</label>
                   <input class="flex2" type="text" id="data.class.aiPatron.value" name="data.class.aiPatron.value" value="{{data.class.aiPatron.value}}" data-dtype="String"/>
                </div>
                <ul class="class-note flexcol">
				
                  <li>
                    {{localize "mcc.artifacts"}}
                    <ul>
                      <li>{{localize "shaman.artifactsDesc"}}</li>
                    </ul>
                  </li>
                  <li>
                    {{localize "mcc.luck"}}
                    <ul>
                      <li>{{localize "shaman.darwinianLuck"}}</li>
                    </ul>
                  </li>
                  <li>
                    {{localize "mcc.ai"}}</li>
                    <ul>
                      <li>{{localize "human.aiRecognition"}}</li>
                    </ul>
                  </li>
                </div>
            </div>
        </div>
    </section>
</form>

