<section class="tab sentinel {{tabs.sentinel.cssClass}}" data-tab="{{tabs.sentinel.id}}" data-group="{{tabs.sentinel.group}}">
    {{!-- Hidden inputs to reflect the sheet class and force standard crit range --}}
    <input type="hidden" id="system.details.sheetClass" name="system.details.sheetClass" value="Sentinel" data-dtype="String"/>
    <input type="hidden" id="system.details.critRange" name="system.details.critRange" value="20" data-dtype="Number"/>
    
    <div class="grid-container">
        <div class="grid-col-span-12 dark-border">
            <div class="box-title">{{localize "Sentinel.SentinelAbilities"}}</div>
            <div class="grid-tpl-two grid-row-gap-8 p-5">
                <div class="grid-tpl-max-25" data-skill="maxTechLevel">
                    <label for="system.skills.maxTechLevel.value">
                        {{localize "MCC.MaxTechLevel"}}
                    </label>
                    <input type="text" id="system.skills.maxTechLevel.value" name="system.skills.maxTechLevel.value"
                           value="{{system.skills.maxTechLevel.value}}" data-dtype="String"/>
                </div>

                <div class="grid-tpl-max-25" data-skill="artifactDie">
                    <label class="skill-check rollable" for="system.skills.artifactDie.value"
                           data-action="rollSkillCheck" data-drag="true" data-drag-action="skill">
                        {{localize "Sentinel.ArtifactDie"}}
                    </label>
                    <input type="text" id="system.skills.artifactDie.value" name="system.skills.artifactDie.value"
                           value="{{system.skills.artifactDie.value}}" data-dtype="String"/>
                </div>
                <div class="grid-tpl-max-25" data-skill="aiRecognition">
                    <label class="skill-check rollable" for="system.skills.aiRecognition.value"
                           data-action="rollSkillCheck" data-drag="true" data-drag-action="skill">
                        {{localize "MCC.AIRecognition"}}
                    </label>
                    <input type="text" id="system.skills.aiRecognition.value"
                           name="system.skills.aiRecognition.value" value="{{system.skills.aiRecognition.value}}"
                           data-dtype="String"/>
                </div>
                <div class="grid-tpl-max-25" data-skill="artifactCheck">
                    <label class="skill-check rollable" for="system.skills.artifactCheck.value"
                           data-action="rollSkillCheck" data-drag="true" data-drag-action="skill">
                        {{localize "MCC.ArtifactCheck"}}</label>
                    <input type="text" id="system.skills.artifactCheck.value"
                           name="system.skills.artifactCheck.value" value="{{system.skills.artifactCheck.value}}"
                           data-dtype="String"/>
                </div>
                <div class="grid-tpl-max-auto grid-col-span-2" style="align-items: center;">
                    <label for="system.class.archaicAlignment.value">
                        {{localize "MCC.ArchaicAlignment"}}</label>
                    <input type="text" id="system.class.archaicAlignment.value"
                           name="system.class.archaicAlignment.value" value="{{system.class.archaicAlignment.value}}"
                           data-dtype="String"/>
                </div>
                <ul class="data-font grid-col-span-2">
                    <li>
                        {{localize "MCC.Artifacts"}}
                        <ul>
                            <li>{{localize "Sentinel.ArtifactsDesc"}}</li>
                            <li>{{localize "Sentinel.artifactWeaponsAnArmor"}}</li>
                        </ul>
                    </li>
                    <li>
                        {{localize "MCC.Luck"}}
                        <ul>
                            <li>{{localize "Sentinel.DarwinianLuck"}}</li>
                        </ul>
                    </li>
                    <li>
                        {{localize "MCC.AI"}}
                        <ul>
                            <li>{{localize "human.AIRecognition"}}</li>
                        </ul>
                    </li>
                    <li>
                        {{localize "Sentinel.ArtifactDie"}}
                        <ul>
                            <li>{{localize "Sentinel.ArtifactDieDesc"}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>