a[data-tab='healer']::before,
a[data-tab='manimal']::before,
a[data-tab='mutant']::before,
a[data-tab='plantient']::before,
a[data-tab='rover']::before,
a[data-tab='sentinel']::before,
a[data-tab='shaman']::before {
    content: '\f3ed';
}

#system\.class\.archaicAlignment\.value {
    height: 25px;
}